<!DOCTYPE html>
<html>
<head>
    <title>Game Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<script>
function toggleTheme() {
    document.body.classList.toggle("light-theme");
    localStorage.setItem(
        "theme",
        document.body.classList.contains("light-theme") ? "light" : "dark"
    );
}

window.onload = function() {
    if (localStorage.getItem("theme") === "light") {
        document.body.classList.add("light-theme");
    }
}
</script>
<body>

<div class="navbar">

    <div class="nav-left">
        <a href="/">Главная</a>
        <a href="/upload">Загрузить игру</a>
        <button onclick="toggleTheme()" class="theme-btn">смена темы</button>
    </div>

    <div class="nav-right">
        {% if current_user.is_authenticated %}
            <a href="/logout" onclick="return confirm('Выйти из аккаунта?')">Выйти</a>
        {% else %}
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
        {% endif %}
        <a href="/my-games">Мои игры</a>
    </div>

</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>